<header>
<div class="tnp-header-top">
    <div class="tnp-meta-wrapper">
        <div id="current-date" class="tnp-meta-item"></div>
        <div class="tnp-meta-item">{% if metadata.navbar.isn %}ISSN:{{metadata.navbar.isn}}{% endif %}</div>
    </div>
</div></header>

<header class="navbars-container">
    <div class="top-info">
        <a class="none text-white" href="{{metadata.url}}">{{metadata.navbar.title}}</a>
    </div>

    <div class="title-overlay">
        <h1 class="journal-title">
            {{metadata.navbar.description}}
        </h1>
    </div>

    <nav class="main-menu" data-pagefind-index="true">
        <ul class="my-nav">
            {% for n in metadata.navbar.list %}
                <li class="my-nav-item">
                    <a href="{{ n.url }}">
                        {{ n.nav }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header><header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const el = document.getElementById("current-date");
        if (el) el.textContent = new Date().toLocaleDateString('en-US', { weekday: 'short', month: 'short', day: 'numeric', year: 'numeric' });
    });
</script>
