<!doctype html>
<html lang="{{ metadata.language }}">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% include "partials/seo.njk" %}
<style>{% include "css/custom.css" %}</style>
<style>{% include "node_modules/simpledotcss/simple.min.css" %}</style>
<link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
<script type="module">{% include "node_modules/@zachleat/heading-anchors/heading-anchors.js" %}</script>
</head>
<body>
<a href="#main" id="skip-link" class="visually-hidden">Skip to main content</a>
{% include "partials/alert.njk" %}
{% include "partials/nav.njk" %}
<div id="main">
<heading-anchors>
{{ content | safe }}
</heading-anchors>
</div>
{% include "partials/footer.njk" %}
<script type="module" src="{% getBundleFileUrl "js" %}"></script>
</body>
</html>
